<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="http://connect.soundcloud.com/sdk.js"></script>
    <script
        src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
      </script>
      <script src="SCapi.js" type="text/javacript"></script>
    <script type="text/javascript" src="soundcloudJS.js"></script>
    <script type="text/javascript" src="player.js"></script>

    <link rel="stylesheet" type="text/css" href="css/handheld.css" media="(min-width: 400px) and (max-width: 800px)">
    <link rel="stylesheet" type="text/css" href="css/style.css" media="(min-width: 800px)"> 
  </head>

  <body>
  <% include header.ejs %><br>

    <div id="soundcloud">

     <div id="search">
        <div id="form">
          <form id="songsForm">
            <input type="text" id="query" placeholder='Search'>
            <input id="searchButton" type="submit" value="Submit" onclick="search()")>
          </form>
        </div>

        <div id="results">
          <h3>Results</h3>
            <div id="songResults">
              <ul id="resultsList">
              </ul>
            </div>
        </div>
      </div>

      <div id="SCplayer">
        <iframe frameborder="no" scrolling="no" src="http://w.soundcloud.com/player/?url=http://api.soundcloud.com/tracks/89894560"></iframe>
      </div>


    </div>

    <input id="slider" type="range" value="0" />

    <div id="twoSides">

      <div id="side1">
        <div id="juke1" class="juke">
          <div class="info"></div>
          <audio controls="controls" id="aud1" src="uploads/WHITE CHRISTMAS - Frank Sinatra.mp3" type="audio/mpeg">
             <!-- <source src="track.ogg" type="audio/ogg" /> -->
              Your browser does not support the audio element
          </audio>
        </div>

        <div id="queue1" class="queue">
          <h3>Queue 1</h3>
          <ul class="queue">
            <% queue.forEach(function(song){ 
                if(song.queue == 'queue1'){%>
              <li><%=song.songName%></li>
              <button onclick="deleteSong('<%=song.queue%>', '<%=song.songName%>')">Delete From Queue</button>
            <%}
            });%>
          </ul>
        </div>  
      </div>

      <div id="side2">
         <div id="juke2" class="juke">
            <div class="info"></div>
              <audio controls="controls" id="aud2" src="uploads/Fun. - Sleigh Ride.mp3" type="audio/mpeg">
              Your browser does not support the audio element.
              </audio>
          </div>

     
        <div id="queue2" class="queue">
          <h3>Queue2</h3>
          <ul class="queue">
            <% queue.forEach(function(song){ 
              if(song.queue == 'queue2'){%>
              <li><%=song.songName%></li>
              <button onclick="deleteSong('<%=song.queue%>', '<%=song.songName%>')">Delete From Queue</button>
            <%}
            });%>
          </ul>
        </div>
      </div>
    </div>

    

  </body>
</html>